# python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw

# datasets
archive/
docs/
datasets/
datasets_phx4/

# training results
training_results/
training_results_*/
comparison_results_*/
test_image/
results/
models/

# inference results
runs/

# logs
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*

# model files
*.pth
*.pt
*.pt.gz
*.pt.tar
*.pt.tar.gz
