# python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw

# datasets
datasets/

# training results
training_results/
comparison_results_*/
test_image/
results/

# logs
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*

# model files
*.pth
*.pt
*.pt.gz
*.pt.tar
*.pt.tar.gz
